In [ ]:
!pip install -q scanpy

In [ ]:
import scanpy as sc
import pandas as pd
from pathlib import Path
from google.colab import drive

In [ ]:
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
DATA = Path("/content/drive/My Drive/ecbm_4060")

In [ ]:
a_df = pd.read_csv(DATA / "GSE189125_5prime_scRNAseq_seqbatchA_expression.txt", sep="\t", index_col=0)
# transpose such that the data direction conforms with scanpy defaults
a_df = a_df.T
a_df

gene,IGKV3-11,S100A8,S100A9,HBB,IGKV3-15,IGLV2-23,LYPD2,IGKV3-20,IGKV1-5,IGLV2-11,...,DSTYK,CCDC18,MILR1,ALDH6A1,SRC,LRPPRC,RINL,SHLD2,NBPF19,PROSER1
AAACCTGAGACGACGT-1_1,0.010505,5.824284,4.869786,3.249612,0.028953,0.018778,0.005349,0.017436,0.031164,0.011605,...,-0.070165,0.098148,0.088776,0.013451,-0.001546,0.071436,0.003556,-0.035496,0.060281,0.022713
AAACCTGAGATATACG-1_1,0.006503,4.404333,4.022501,3.370075,0.018777,0.007487,-0.068118,0.022169,-0.039483,0.008879,...,0.119554,0.045632,0.226309,0.049140,0.028934,-0.044933,-0.007665,-0.054036,-0.140954,-0.005899
AAACCTGAGCATCATC-1_1,0.021153,1.626101,1.052136,3.844617,0.034719,0.018459,0.007458,0.046552,0.048299,0.020627,...,0.002236,0.015778,0.014088,-0.049021,0.017573,0.054633,0.056241,-0.005524,0.063095,0.004301
AAACCTGAGGTCGGAT-1_1,-0.794644,0.233621,-0.094846,3.449837,0.076931,0.040373,0.001303,0.395073,0.578443,0.102232,...,-0.002527,-0.048809,0.011617,-0.001891,-0.000196,0.148276,0.009233,-0.138490,-0.017348,0.007270
AAACCTGCACCGCTAG-1_1,0.049237,0.262886,-0.223905,3.457908,0.018324,0.005198,0.002827,-0.020894,-0.107848,-0.010292,...,-0.018141,0.006750,0.027511,-0.002188,0.001051,0.409155,-0.043541,0.494055,-0.015819,0.008914
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TTTGTCAGTAGGCTGA-1_13,0.139114,0.360709,0.168419,3.762311,1.194253,0.188721,0.000000,0.462285,0.194813,2.058585,...,-0.247401,-0.063720,-0.235594,0.966067,-0.074628,-0.419250,-0.106517,-0.007280,0.006338,-0.043399
TTTGTCAGTGTGTGCC-1_13,0.243989,0.580505,0.500218,4.379950,0.634912,0.023180,0.000000,0.376586,0.228349,-0.009533,...,0.005381,-0.063991,-0.120996,-0.051232,-0.005378,0.035072,-0.016342,-0.094187,-0.108538,1.123326
TTTGTCAGTTCCATGA-1_13,0.271561,0.369165,0.435660,3.578370,0.668026,0.043795,0.000000,0.361728,0.293201,-0.039409,...,-0.001814,-0.084541,-0.066037,-0.083781,-0.001551,-0.231992,-0.085955,-0.116271,-0.053558,-0.032193
TTTGTCATCAGCTGGC-1_13,0.001889,0.709485,1.550520,3.590639,0.000000,0.000000,0.004724,-0.025947,0.000000,-0.003754,...,-0.002759,-0.070997,0.000000,0.010636,0.000000,-0.045582,-0.098537,-0.158847,0.100453,0.012331
TTTGTCATCCCATTAT-1_13,0.325052,0.437844,0.106647,3.505393,0.116432,0.051445,0.000000,0.413083,0.388909,-0.001447,...,-0.046785,-0.005395,0.011442,-0.074682,-0.000118,1.403154,-0.289640,-0.056869,0.019229,0.011484

In [ ]:
a_meta = pd.read_csv(DATA / "GSE189125_5prime_scRNAseq_seqbatchA_metadata.txt", sep="\t", index_col=0)
a_meta

                      patient ID unsupervised cell cluster
barcode
AAACCTGAGACGACGT-1_1      YUCARD                    Mono 5
AAACCTGAGATATACG-1_1      YUCARD                    Mono 8
AAACCTGAGCATCATC-1_1      YUCARD                    CD4T 1
AAACCTGAGGTCGGAT-1_1      YUCARD                       B 2
AAACCTGCACCGCTAG-1_1      YUCARD                    CD4T 4
...                          ...                       ...
TTTGTCAGTAGGCTGA-1_13      YUROD                       B 5
TTTGTCAGTGTGTGCC-1_13      YUROD                       B 1
TTTGTCAGTTCCATGA-1_13      YUROD                       B 1
TTTGTCATCAGCTGGC-1_13      YUROD                      NK 2
TTTGTCATCCCATTAT-1_13      YUROD                       B 3

[24807 rows x 2 columns]

In [ ]:
a_adata = sc.AnnData(a_df,
                     a_df.index.to_frame(name="cell"),
                     a_df.columns.to_frame(name="gene"))


# reapply observations, note that the datatype changes to suit casting
a_adata.obs["ptid"] = a_meta.loc[a_df.index.values]["patient ID"].values
a_adata.obs["cell_type"] = a_meta.loc[a_df.index.values]["unsupervised cell cluster"].str.split(" ").str[0].values

<ipython-input-44-fab303168637>:1: FutureWarning: X.dtype being converted to np.float32 from float64. In the next version of anndata (0.9) conversion will not be automatic. Pass dtype explicitly to avoid this warning. Pass `AnnData(X, dtype=X.dtype, ...)` to get the future behavour.
  a_adata = sc.AnnData(a_df,

In [ ]:
# export to use in analysis
a_adata.write(filename=DATA / "GSE189125A.h5ad")

In [ ]:
b_df = pd.read_csv(DATA / "GSE189125_5prime_scRNAseq_seqbatchB_expression.txt", sep="\t", index_col=0)
# transpose such that the data direction conforms with scanpy defaults
b_df = b_df.T
b_df

gene,IGKV3-11,S100A8,S100A9,IGKV3-20,PPBP,IGKV1-5,IGLV3-1,IGLV2-14,IGKV4-1,IGLV2-23,...,SQOR,FAM198B-AS1,HERPUD1,SGO2,SESTD1,SUSD1,MAML3,APH1B,TRPS1,GIMAP4
AAACCTGAGCGCTCCA-1_14,0.001866,1.967049,2.158094,0.021394,0.178768,0.006877,0.003827,0.002231,0.013213,0.004717,...,0.046865,0.051224,0.202642,0.006491,0.108635,0.028533,-0.001488,0.147130,0.185432,1.029945
AAACCTGAGTGACTCT-1_14,-0.001849,4.973794,3.912885,-0.008584,0.176971,-0.002876,0.001636,-0.007901,0.002807,0.003480,...,0.025587,0.036196,0.447670,0.005094,0.124548,0.107478,-0.009690,0.304178,0.108504,1.098446
AAACGGGCATCTATGG-1_14,0.001997,1.567295,1.455774,0.005693,0.052318,0.020872,0.002881,0.002652,0.009338,0.008388,...,-0.098162,0.027942,0.137134,-0.028124,0.033064,0.037388,0.145004,0.013748,0.026502,0.767951
AAACGGGGTCGGCTCA-1_14,0.002841,4.126481,2.865278,0.031090,0.100594,-0.002192,0.003711,0.005224,-0.008822,0.056546,...,0.454598,0.019765,0.194051,0.036563,0.055383,0.027858,0.010183,0.062995,0.289550,0.335878
AAACGGGTCGCATGAT-1_14,0.015690,3.596869,2.373221,0.009425,0.249595,0.012356,0.002193,0.004100,0.036624,-0.007151,...,-0.211625,0.003122,-0.373071,0.010909,0.093865,0.021282,0.084287,0.074701,0.102726,0.544093
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TTTGTCAAGAATTCCC-1_16,-0.002063,0.286696,0.204937,-0.003790,0.176027,-0.000200,0.000805,-0.000731,0.023816,-0.000064,...,-0.090181,0.000000,0.154103,0.033362,0.000460,-0.005705,0.003045,-0.023671,0.032977,1.359667
TTTGTCAAGACTTTCG-1_16,-0.358642,0.165213,0.399336,0.374131,0.062323,3.077798,0.013053,0.205284,0.022202,0.317741,...,0.004090,0.000000,0.897548,-0.009968,0.108335,-0.004515,0.208349,-0.019670,-0.003248,0.019380
TTTGTCACACCTCGTT-1_16,-0.006361,0.240825,0.228520,-0.013378,0.317302,-0.000546,0.003297,1.088506,0.002304,0.004122,...,0.013873,0.000000,1.218069,0.010799,-0.000342,0.037606,0.000198,-0.053789,0.002320,1.513467
TTTGTCAGTTAAGTAG-1_16,-0.059681,0.311081,0.085190,-1.797230,0.094765,0.297001,0.122888,0.133395,4.910315,0.076214,...,-0.119432,0.000000,-0.656850,0.002849,-0.003600,0.006147,0.039637,0.041854,0.015364,0.018540
TTTGTCATCTGGAGCC-1_16,-0.000566,2.861423,2.829085,0.006364,0.065422,0.000511,0.001974,-0.002788,0.017449,0.000000,...,0.103900,0.058346,2.026767,0.001129,0.075131,0.005888,-0.203499,0.280017,0.250092,2.662535

In [ ]:
b_meta = pd.read_csv(DATA / "GSE189125_5prime_scRNAseq_seqbatchB_metadata.txt", sep="\t", index_col=0)
b_meta

                      patient.ID
barcode
AAACCTGAGCGCTCCA-1_14     YUALOE
AAACCTGAGTGACTCT-1_14     YUALOE
AAACGGGCATCTATGG-1_14     YUALOE
AAACGGGGTCGGCTCA-1_14     YUALOE
AAACGGGTCGCATGAT-1_14     YUALOE
...                          ...
TTTGTCAAGAATTCCC-1_16    YUNANCY
TTTGTCAAGACTTTCG-1_16    YUNANCY
TTTGTCACACCTCGTT-1_16    YUNANCY
TTTGTCAGTTAAGTAG-1_16    YUNANCY
TTTGTCATCTGGAGCC-1_16    YUNANCY

[5406 rows x 1 columns]

In [ ]:
b_adata = sc.AnnData(b_df,
                     b_df.index.to_frame(name="cell"),
                     b_df.columns.to_frame(name="gene"))


# reapply observations, note that the datatype changes to suit casting
b_adata.obs["ptid"] = b_meta.loc[b_df.index.values]["patient.ID"].values

<ipython-input-42-60a34f144e98>:1: FutureWarning: X.dtype being converted to np.float32 from float64. In the next version of anndata (0.9) conversion will not be automatic. Pass dtype explicitly to avoid this warning. Pass `AnnData(X, dtype=X.dtype, ...)` to get the future behavour.
  b_adata = sc.AnnData(b_df,

In [ ]:
b_adata.write(filename=DATA / "GSE189125B.h5ad")